
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: #000000;;
}

#section2 {
  height: auto;
  background-color: #141414;;
}
#section3 {
  height: 600px;
  background-color: #1b1b1b;;
}
#section4 {
  height: 600px;
  background-color: #FFFFFF;;
}

