
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: #000000;;
}

#section2 {
  height: 600px;
  background-color: #2b2930;;
}
#section3 {
  height: 600px;
  background-color: #71687d;;
}
#section4 {
  height: 600px;
  background-color: #beb8d1;;
}
#section5 {
  height: 600px;
  background-color: #f5eff6;;
}
